
.ipynb_checkpoints/DigCon_AI_ML_OrgTest-checkpoint.ipynb
.ipynb_checkpoints/DigCon_Algorithms-checkpoint.ipynb
.ipynb_checkpoints/DigCon_Architecture_Storage-checkpoint.ipynb
.ipynb_checkpoints/DigCon_Platforms-checkpoint.ipynb
.ipynb_checkpoints/DigCon_Queries-checkpoint.ipynb
.ipynb_checkpoints/DigCon_Sensors-checkpoint.ipynb
